html {
    font-size: 16px;

}

body {

    text-align: center;
    font-family: 'Fredoka One';
    color: azure;
    font-size: 1.5rem;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.mainContent {
    z-index: 1;
}


header {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    top: 0;
    height: 10rem;
    left: 0;
}

nav {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: purple;
    border: 2px solid purple;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.9rem;
    text-shadow: none;
    box-shadow: 2px 2px 2px white;

}

nav a:hover {
    color: white;
    background-color: purple;
    border: 2px solid white;
    box-shadow: 2px 2px 2px white;
}

.banner {
    background-image: url(../media/images/raychan-jrNY1BZhnJg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50rem;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

}

.heading {
    margin-top: 20rem;
    margin-bottom: 10rem;


}

h1 {
    font-size: 4rem;
    align-self: center;
    justify-self: center;

}

#catchMeContainer {
    width: 75%;
    height: 200px;
    position: relative;
    margin: auto;
    margin-bottom: 15rem;

}


#catchMe {
    border: 2px solid purple;
    width: fit-content;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: black;
    box-shadow: 2px 2px 2px white;
    position: absolute;
    bottom: 45%;
    left: 44%;
    margin: auto;
}

.about {
    margin-bottom: 15rem;
    background: rgba(30, 10, 30, 0.7);
    border-radius: 5rem;
    padding: 3rem;
}

.skills {
    margin-bottom: 15rem;
    background: rgba(30, 10, 30, 0.7);
    border-radius: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.imgContainer img {
    height: 7rem;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

.portfolio {
    margin-bottom: 15rem;
    background: rgba(30, 10, 30, 0.7);
    border-radius: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer {
    background: rgba(30, 10, 30, 0.7);
    border-radius: 5rem;
    padding: 3rem 0;
}